# Ignore byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
build
sphinx/interfaces/
dist/
QDarts.egg-info/
examples/.ipynb_checkpoints/
examples/figures/fig1.png
examples/figures/fig4.png
examples/figures/fig5.png
examples/figures/fig6.png
examples/figures/fig8.png
